.amOneIndent{
    font-size: 16px;
}

.amTwoIndent{
    font-size: 14px;
}

.anThreeIndent{
    font-size: 12px;
}

.amTRAP{
    color:rgb(226, 24, 24);
    font-size: 20px;
    font-style:italic;

}

.amSmallerTRAP{
    color:rgb(226, 24, 24);
    font-size: 18px;
    font-style:italic;

}

.am3SmallerTRAP{
    color:rgb(226, 24, 24);
    font-size: 16px;
    font-style:italic;
}


.amTIP{
    color:rgb(11, 175, 25);
    font-size: 20px;
    font-style:italic;
}

.amSmallerTIP{
    color:rgb(11, 175, 25);;
    font-size: 18px;
    font-style:italic;
}

.am3SmallerTIP{
    color:rgb(11, 175, 25);
    font-size: 16px;
    font-style:italic;
}

.amBlueNormal{
   background-color:#00274C;
}

.amMaizeNormal{
    background-color:#FFCB05;
}

nav .nav-pills .amBlueNormal:hover{
    background-color:pink;
}

.amMenu{
    color:white;
}

.homeMenuIcon{
    width:75px;
    height:50px;
}

body{
    font-size:18px;
}


.amCenter{
    margin-left:28%;
    margin-bottom:20px;
    width:50%;
}


li{
    margin-top:.5%;
}





