html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    
}



.headerDiv{
    width:100vw;
    height:55vh;
    margin-left:auto;
    margin-right:auto;
    display: block;
}

.waysToUseDiv{
    width:100vw;
    height:30vh;
    margin-left:auto;
    margin-right:auto;
    background:#00274C;
    display:grid;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    color:white;
    align-items:center;
}

.imageTextDiv{
    display:grid;
    grid-template-rows: 20% 20% 30% 20% 20%;
    grid-row-gap: 1%;
    margin-bottom:5%;
    margin-left:auto;
    margin-right:auto;
}

.firstTextDiv{
    display:grid;
    grid-template-rows:30%;
    margin-left:auto;
    margin-right:auto;
}

.gridImage{
    width:50%;
}

.waysGridImage{
    width:65%;
}

.aHrefStyle{
    text-decoration:none;
    color:white;
}

.waysTitleDiv{
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:100%;
    height:35vh;
}
.maizeTitle{
    color:#FFCB05;
    margin-left:5%;
}


.creditsDiv{
    width:100%;
    height:12vh;
    display:block;
    margin-left:auto;
    margin-right:auto;
    background:#00274C;
    font-size: 1.25vw;
}

.waysToUseList{
    color:#00274C;
    font-size:1vw;
}

.creditsText{
    margin-left:5%;
    color:white;
}

.quizStyle{
    margin-left:7.5%;
}


@media(max-width:1281px){
    .creditsDiv{font-size: 1.5vw;}
    .waysTitleDiv{height:37.5vh;}
}



@media(max-width:1024px){
        .waysToUseList{font-size:1.375vw;}
        .creditsDiv{font-size: 1.625vw;}
        .waysTitleDiv{height:40vh;}
}

@media(max-width:850px){
    .waysToUseList{font-size:1.5vw;}
    .creditsText{font-size:2.5vw;}
    .headerDiv{height:25vh;}
    .waysToUseDiv{height:30vh;}
}

@media(max-width:800px){
    .waysToUseList{font-size:1.75vw;}
}

@media(max-width:750px){
    .aHrefStyle{font-size:2vw;}
    .headerDiv{height:50vh;}
    .waysTitleDiv{height:40vh;}
}

@media(max-width:500px){
    .aHrefStyle{font-size:2.65vw;}
    .headerDiv{height:30vh;}
    .waysTitleDiv{height:40vh;}

    .waysToUseDiv{
        height:25vh;
        grid-template-columns: 10% 20% 20% 20% 20% 10%;
    }
    .waysToUseList{font-size:2.4vw;}
    .headerTitle{font-size:5vw;}
    

}

@media(max-width:400px){
    .headerDiv{height:30vh;}
    .waysTitleDiv{height:37.5vh;}

    .waysToUseDiv{
        height:25vh;
    }

    .waysToUseList{font-size:2.4vw;}

    .creditsText{font-size:3.25vw;}
}


@media(min-width:1440px){
    .creditsDiv{
        font-size: 1.5vw;
    }
}

@media(min-width:1681px){

}

@media(min-width:2121px){

    .creditsDiv{
        font-size: 1.75vw;
    }

    .gridImage{width:65%;}
    .quizStyle{margin-left:12.5%;}
    .aHrefStyle{font-size:24px;}
}

@media(min-width:2421px){
    .gridImage{width:75%;}

    

}

