.sidenav {
    height: 91%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 9%;
    left: 0;
    background-color: rgb(4, 35, 87);
    opacity: .9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    background-color:rgb(6, 51, 128);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


  .boxHidden {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }

  .popUpImageStyle{
    max-width:100%;
    height:16vw;
  }

  .popUpSmallerImageStyle{
    max-width:100%;
    height:12vw;
  }

  .popUpExtraSmallerImageStyle{
    max-width:100%;
    height:8vw;
  }

  .popUpBiggerImageStyle{
    max-width:100%;
    height:20vw;
  }



  .boxHidden2 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }

  .boxHidden3 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }

  .boxHidden4 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }

  .boxHidden5 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }

  .boxHidden6 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }

  .boxHidden7 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }

  .boxHidden8 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }

  .boxHidden9 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }

  .boxHidden10 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }

  .boxHidden11 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }

  .boxHidden12 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }

  .boxHidden13 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }

  .boxHidden14 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }


  .boxHidden15 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }

  .boxHidden16 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }

  .boxHidden17 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }

  .boxHidden18 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }

  .boxHidden19 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }

  .boxHidden20 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }

  .boxHidden21 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }

  .boxHidden22 {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position:relative;
    display:inherit;
    width:50%;
    height:0px;
    bottom:33vh;
    -webkit-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-delay: .05s; 
    transition-delay: .1s;
    margin-left:30%;
   
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }