.amListingColumns{
    display: grid;
    grid-template-columns: 6% 3% 27% 25%;
    color:white;
    align-items:center;
   }

   @media(min-width:2100px){
    .amListingColumns{
        display: grid;
        grid-template-columns: 3% 3% 25% 26%;
        color:white;
        align-items:center;
        grid-column-gap:2%;
       }
   }

   @media(max-width:800px){
    .amListingColumns{
        display: grid;
        grid-template-columns: 8% 5% 20% 26%;
        color:white;
        align-items:center;
        grid-column-gap:2%;
       }
   }

   @media(max-width:560px){
    .amListingColumns{
        display: grid;
        grid-template-columns: 8% 7% 15% 26%;
        color:white;
        align-items:center;
        grid-column-gap:5%;
       }
   }

   @media(max-width:410px){
    .amListingColumns{
        display: grid;
        grid-template-columns: 10% 10% 1% 26%;
        color:white;
        align-items:center;
        grid-column-gap:8%;
       }
   }
   
.amTwoArrows{
    display:inline-grid;
    grid-template-columns:40% 10% 40%;
    color:white;
    margin-top:.5vw;
    align-items:center;
    justify-content: center;
    grid-column-gap:5%;
    
}

.titleStyling{
    text-align:center;
    font-size:22px;
    font-style:helvetica-nue;

}

.supranuclearTitleStyling{
    text-align:center;
    margin-top:25px;
    font-size:18px;
    font-style:helvetica-nue;
    font-size:22px;
}

.amBodyColumns{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    
}



@media (max-width:723px){
    .titleStyling{
        text-align:center;
        margin-top:10px;
        font-size:18px;
        font-style:helvetica-nue
    }
}

@media (max-width:723px){
    .titleStyling{
        text-align:center;
        margin-top:10px;
        font-size:18px;
        font-style:helvetica-nue
    }
}

@media (max-width:400px){
    .titleStyling{
        text-align:center;
        margin-top:10px;
        font-size:15px;
        font-style:helvetica-nue
    }
}

@media (max-width:905px) and (min-width:724px) {
    .supranuclearTitleStyling{
        text-align:center;
        margin-top:15px;
        font-size:15px;
        font-style:helvetica-nue
    }
}

@media (max-width:724px) and (min-width:470px) {
    .supranuclearTitleStyling{
        text-align:center;
        margin-top:10px;
        font-size:15px;
        font-style:helvetica-nue
    }
}


@media (max-width:469px) and (min-width:383px) {
    .supranuclearTitleStyling{
        text-align:center;
        margin-top:10px;
        font-size:12px;
        font-style:helvetica-nue
    }
}

@media (max-width:382px) and (min-width:1px) {
    .supranuclearTitleStyling{
        text-align:center;
        margin-top:10px;
        font-size:10px;
        font-style:helvetica-nue
    }
}

@media (max-width:1000px) and (min-width:651px){
    .amBodyColumns{
        display: grid;
        grid-template-columns: 15% 70% 15%;
        justify-self:center;
    }
}

@media (max-width:650px){
    .amBodyColumns{
        display: grid;
        grid-template-columns: 10% 80% 10%;
        justify-self:center;
    }
}