.amListingColumns{
    display: grid;
    grid-template-columns: 6% 3% 27% 25%;
    color:white;
    align-items:center;
   }

   @media(min-width:2100px){
    .amListingColumns{
        display: grid;
        grid-template-columns: 3% 3% 25% 26%;
        color:white;
        align-items:center;
        grid-column-gap:2%;
       }
   }

   @media(max-width:800px){
    .amListingColumns{
        display: grid;
        grid-template-columns: 8% 5% 20% 26%;
        color:white;
        align-items:center;
        grid-column-gap:2%;
       }
   }

   @media(max-width:560px){
    .amListingColumns{
        display: grid;
        grid-template-columns: 8% 7% 8% 26%;
        color:white;
        align-items:center;
        grid-column-gap:5%;
       }
   }

   @media(max-width:410px){
    .amListingColumns{
        display: grid;
        grid-template-columns: 10% 10% .1% 22%;
        color:white;
        align-items:center;
        grid-column-gap:8%;
       }
   }
   
.amTwoArrows{
    display:inline-grid;
    grid-template-columns:40% 10% 40%;
    color:white;
    margin-top:.5vw;
    align-items:center;
    justify-content: center;
    grid-column-gap:5%;
    
}

.amTwoArrowsIndex{
    display:inline-grid;
    grid-template-columns:40% 10% 40%;
    color:white;
    align-items:center;
    justify-content: center;
    grid-column-gap:5%;
    text-align:center;
    
}

.titleStyling{
    text-align:center;
    font-size:22px;
    font-style:helvetica-nue;
}

.supranuclearTitleStyling{
    text-align:center;
    font-size:18px;
    font-style:helvetica-nue;
   
}

.mediumTitleStyling{
    text-align:center;
    font-size:20px;
    font-style:helvetica-nue;
   
}

.titleCenter{
    text-align:center;
    margin-right:5%;
    font-size:28px;
    margin-bottom:1%;
}

@media(min-width:1800px){
    .titleStyling{
        text-align:center;
        font-size:calc(1.8vw);
        font-style:helvetica-nue;
    }

    .supranuclearTitleStyling{
        text-align:center;
        font-size:calc(1.4vw);
        font-style:helvetica-nue;
       
    }

    .mediumTitleStyling{
        text-align:center;
        font-size:calc(1.6vw);
        font-style:helvetica-nue;
       
    }

    .titleCenter{
        text-align:center;
        font-size:calc(1.9vw);
        margin-left:calc(1.8vw);
        margin-bottom:1%;
    }

}

@media(max-width:1200px) and (min-width:801px){
    .titleStyling{
        text-align:center;
        font-size:calc(2.4vw);
        font-style:helvetica-nue;
    }

    .supranuclearTitleStyling{
        text-align:center;
        font-size:calc(2.0vw);
        font-style:helvetica-nue;
       
    }

    .mediumTitleStyling{
        text-align:center;
        font-size:calc(2.2vw);
        font-style:helvetica-nue;
       
    }

    .titleCenter{
        text-align:center;
        font-size:calc(2.4vw);
        margin-bottom:1%;
    }

    
}

@media(min-width:501px) and (max-width:800px){
    .titleStyling{
        text-align:center;
        font-size:calc(3.6vw);
        font-style:helvetica-nue;
    }

    .supranuclearTitleStyling{
        text-align:center;
        font-size:calc(3.1vw);
        font-style:helvetica-nue;
       
    }

    .mediumTitleStyling{
        text-align:center;
        font-size:calc(3.4vw);
        font-style:helvetica-nue;
       
    }

    .titleCenter{
        text-align:center;
        font-size:calc(3.6vw);
        margin-bottom:1%;
    }
}

@media(min-width:1px) and (max-width:500px){
    .titleStyling{
        text-align:center;
        font-size:calc(4.8vw);
        font-style:helvetica-nue;
    }

    .supranuclearTitleStyling{
        text-align:center;
        font-size:calc(4.0vw);
        font-style:helvetica-nue;
       
    }

    .mediumTitleStyling{
        text-align:center;
        font-size:calc(4.4vw);
        font-style:helvetica-nue;
       
    }

    .titleCenter{
        text-align:center;
        font-size:calc(5.0vw);
        margin-bottom:1%;
    }
}



.amBodyColumns{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    
}





@media (max-width:905px) and (min-width:724px) {
    .supranuclearTitleStyling{
        text-align:center;
        margin-top:15px;
        font-size:15px;
        font-style:helvetica-nue
    }
}

@media (max-width:724px) and (min-width:470px) {
    .supranuclearTitleStyling{
        text-align:center;
        margin-top:10px;
        font-size:15px;
        font-style:helvetica-nue
    }
}


@media (max-width:469px) and (min-width:383px) {
    .supranuclearTitleStyling{
        text-align:center;
        margin-top:10px;
        font-size:12px;
        font-style:helvetica-nue
    }
}

@media (max-width:382px) and (min-width:1px) {
    .supranuclearTitleStyling{
        text-align:center;
        margin-top:10px;
        font-size:10px;
        font-style:helvetica-nue
    }
}



@media (max-width:1000px) and (min-width:651px){
    .amBodyColumns{
        display: grid;
        grid-template-columns: 15% 70% 15%;
        justify-self:center;
    }
}

@media (max-width:650px){
    .amBodyColumns{
        display: grid;
        grid-template-columns: 10% 80% 10%;
        justify-self:center;
    }
}